@page
@model OWMatchmaker.Pages.FailureModel
@{
    ViewData["Title"] = "Failure";
}

<div class="text-center">
    <h1>Authentication Failure!</h1>
    <h3>We were unable to authenticate your BattleNet account. Please try again.</h3>
</div>

