@page
@model OWMatchmaker.Pages.IndexModel
@{
    ViewData["Title"] = "Index";
}

    <div class="text-center">
        <h1 class="display-4">Welcome to OWMatcher</h1>
        <p>Add it to your discord.</p>
        <a href="https://discord.com/api/oauth2/authorize?client_id=729180205440041011&permissions=355392&redirect_uri=https%3A%2F%2Fowmatcher.com&scope=bot">
            <img src="https://discord.com/assets/f8389ca1a741a115313bede9ac02e2c0.svg" width="245" height="80">
        </a>
    </div>