@page
@model OWMatchmaker.Pages.IndexModel
@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <h1 class="display-4">Welcome to OWMatcher</h1>
    <p>OW Matcher's main page.</p>
</div>