@page
@model OWMatchmaker.Pages.SuccessModel
@{
    ViewData["Title"] = "Authorized";
}

<div class="text-center">
    <h2>You are now authenticated with OWMatcher!</h2>
    <h3>Use the '!help' and 'lobby help' commands for how to use the bot.</h3>
</div>

